<!DOCTYPE html>
<html>

<head>

    <title>Linear Algebra Simulation</title>


    <script>

        window.onload=function () {
            login();
            document.getElementById("footer").className += " fixed-bottom";
        }


    </script>


    {% include "nav.html" %}


</head>

<body>
<div align="center">
    <div style="width: 80%">
        <br/>
        <br/>
        <a href="/simulation/la/gauss-elimination/">Gauss Elimination</a>
        <br/>

        <br/>
        <br/>
    </div>
</div>
</body>
<footer> {% include "footer.html" %}</footer>

</html>
