
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>


{#      this part for button#}

      <style type="text/css">
          .wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}
      </style>

        <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">






    <meta charset=utf-8>
    <title></title>
     <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
 <SCRIPT Language="javascript">
 <!--
  function isValid()
  {
  	if(formaddstu.sno.value == "")
  	{
  		window.alert("Student number cannot be empty！");
 		document.formaddstu.elements[0].focus();
  		return  false;
  	}
  	if(formaddstu.sname.value == "")
  	{
  		window.alert("Name cannot be empty！");
  		document.formaddstu.elements[1].focus();
  		return  false;
  	}

    if(formaddstu.ssex.value == "")
    {
      window.alert("Gender cannot be empty！");
      document.formaddstu.elements[2].focus();
      return  false;
    }
    if(formaddstu.sage.value == "")
    {
      window.alert("Age cannot be empty！");
      document.formaddstu.elements[3].focus();
      return  false;
    }
  	if(formaddstu.sdept.value == "")
  	{
  		window.alert("Professional can't be empty！");
  		document.formaddstu.elements[4].focus();
  		return  false;
  	}
  	if(formaddstu.sphone.value == "")
  	{
  		window.alert("phone can not be blank！");
  		document.formaddstu.elements[6].focus();
  		return  false;
  	}
  	if(formaddstu.semail.value == "")
  	{
  		window.alert("email can not be blank！");
  		document.formaddstu.elements[6].focus();
  		return  false;
  	}

  	window.alert("Submitting Student Information ");
  	formaddstu.submit();
 }
  -->
  </SCRIPT>
<SCRIPT Language="javascript">
 <!--
  function isValid2()
  {
  	if(formaddcouxls.filepath.value == "")
  	{
  		window.alert("Please select a file");

  		return  false;
  	}
  	 formaddcouxls.submit();
 }
  -->
  </SCRIPT>


{#      <script>#}
{#          var oldVal = "";#}
{#$("#sno").on("change keyup paste", function() {#}
{#    var currentVal = $(this).val();#}
{#    if(currentVal == oldVal) {#}
{#        return; //check to prevent multiple simultaneous triggers#}
{#    }#}
{##}
{#    oldVal = currentVal;#}
{#    //action to be performed on textarea changed#}
{#    alert("changed!");#}

{##}
{#      </script>#}



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){

      $("#sname").change(function(){
         var sname=$('#sname').val()
          {#alert("sname")#}
        $.post("/receivedata", {"sname": sname})
    });

    $("#sno").change(function(){
        var sno=$('#sno').val()
        {#alert("sno")#}
        $.post("/receivedata", {"sno": sno})

    });



      $("#ssex").change(function(){
          var ssex=$('#ssex').val()
        $.post("/receivedata", {"ssex": ssex})
    });

      $("#sage").change(function(){
          var sage=$('#sage').val()
        $.post("/receivedata", {"sage": sage})
    });

    $("#sphone").change(function(){
          var sphone=$('#sphone').val()
        $.post("/receivedata", {"sphone": sphone})
    });

    $("#semail").change(function(){
          var semail=$('#semail').val()
        $.post("/receivedata", {"semail": semail})
    });


});
</script>




  </head>



{#    #8dd8f8#}
  <body bgcolor="#8dd8f8">
  <form name="formaddstu" role="form" action="{{ url_for('manage_classroom.admin_stu_add') }}" method="post" onsubmit="return isValid(this);"><div align="center">
    </div><table class="table1" border="1" width="600" height="120" align="center" cellspacing="0" cellpadding="0">
    <tbody>
    <tr><th colspan="2" height="25"><font size="4">Please enter student information</font></th></tr>
    <tr><td height="20">Student number：</td><td><input type="text" id="sno" name="sno"/></td></tr>
    <tr><td height="20">student name：</td><td><input type="text" id="sname" name="sname"/></td></tr>
    <tr><td height="20">gender：</td><td><input type="text" id="ssex" name="ssex"/></td></tr>
    <tr><td height="20">Student age：</td><td><input type="text" id="sage" name="sage"/></td></tr>
    <tr><td height="20">Student major：</td>
    <td><SELECT name="sdept">
     <OPTION>computer science and Technology</OPTION>
     <OPTION>network engineering</OPTION>
     <OPTION>Internet of Things</OPTION>
     <OPTION>Embedded software engineering</OPTION>
     <OPTION>Software engineering</OPTION>
     <OPTION>Information management</OPTION>
     </SELECT></td></tr>
    <tr><td height="20">phone number：</td><td><input type="text" id="sphone"  name="sphone"/></td></tr>
    <tr><td height="20">Email：</td><td><input type="text" id="semail" name="semail"/>
    <input type="hidden" name="action" value="new"></td></tr>
    <tr><td height="20"><input type="reset" value="RESET"/></td><td><input type="submit" value="SUBMIT"/></td></tr>
    </tbody>
    </table>


      <br>
      <br>
      <br>
      <div class="wrapper">
       <a href="/admin_stu_list" class="w3-btn w3-black">Show Student List</a>
</div>


</form>
  </body>
</html>
