<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    
    <meta charset=utf-8>
    <title></title>  
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

  </head>
   <body bgcolor="#8dd8f8">

  <div align="center"><font size="5" color="#000080" face="华文楷体"><b>Teacher information is as follows：<br><br><br></b></font></div>
     <table class="table1" border="1" cellspacing="0" cellpadding="0" align="center">
     
     <tr align="center"><th width="80">Job number</th><th width="100">Name</th><th width="80">password</th><th width="120">phone number</th><th width="100">Opening a course</th><th width="50">modify</th><th width="50">delete</th></tr>
     		{% if not data : %}
				<tr><th colspan="10">No teacher information！</th></tr>
			{% else :%}
     			{% for tea in data: %}
 		           	<tr align="center">
			    		<td>{{ tea['tno']}}</td>
		    			<td>{{ tea['tname'] }}</td>
		       		
						<td>{{ tea['tpassword'] }}</td>
						<td>{{ tea['tphone'] }}</td>
						<td><A href="{{ url_for('teacher_cho_seted',tno=tea['tno']) }}">View</A></td>
						<td><a href="{{ url_for('admin_tea_upd',tno=tea['tno']) }}" >modify</a></td>
                            <td><A href="{{ url_for('admin_tea_del',tno=tea['tno']) }}">delete</A></td>
					</tr>
				{% endfor %}
			{% endif %}
	</table>
	</body>
</html>
