<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Forum</title>

    <script>

        window.onload=function () {
            login();
        }

   </script>

</head>
<body>

<div class="container">
    {% include "nav.html" %}
    <center>
    {% include '/tutorial/includes/_messages.html' %}
    </center>
    {% block body %} {% endblock %}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.8.0/ckeditor.js"></script>
<script type="text/javascript">
    CKEDITOR.replace('body');
</script>


</body>
</html>