<!DOCTYPE html>
<html>

<head>

    <title>Create Eigen Vector Simulation</title>


    <script>

        window.onload = function() {
            var data = {{data|tojson}};
            if (data != null){
                document.getElementById('msg').innerHTML='<h4 style="color: red">Wrong Format</h4>'
            }
            document.getElementById("data_area").innerText=data;

            login();
            document.getElementById("footer").className += " fixed-bottom";

        };

        function randomInput() {
            var col=2;
            var row=col;
            var matrix="";
            for(var i=0;i<row;i++){
                if(i!=0)
                    matrix+='\n';
                for(var j=0;j<col;j++){
                    if(j!=0)
                        matrix+= " ";
                    matrix+= Math.floor(Math.random() * 10);
                }
            }
            document.getElementById("data_area").innerText=matrix;

        }

    </script>


    {% include "nav.html" %}


</head>

<body>
<div align="center"><div  style="width: 80%">
    <h2>Eigen Vector Entry</h2>
    <br/>
    <table class="table table-dark">
        <thead>
        <td id="msg"><h4>Input Matrix</h4></td>
        <td align="right">
            <button class="btn btn-success" onclick="randomInput()">Random Input</button>
        </td>
        </thead>
    </table>

    <form action = "/simulation/la/eigen-value/entry_data" method = "POST">
        <div class="form-group">
            <textarea class="form-control" rows="10" id="data_area" name="entry"></textarea>
        </div>
        <div class="form-group" align="left">
            <input type="submit" class="btn btn-dark btn-lg" value="Submit">
        </div>
    </form>
    <br/>
    <h5 align="left">Sample:</h5>
    <p align="left">
       7 3<br/>
       3 -1<br/>
    </p>
</div>
</div>
</body>
<footer> {% include "footer.html" %}</footer>

</html>
