<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta charset=utf-8>
    <title></title>
 <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
  </head>
  
  <body bgcolor="#8dd8f8"><div align="center"><font color="#0000a0">


  <div align="center"><strong><font color="#000080" size="5" face="华文楷体">Query course information<br><br><br></font></strong></div>
    <table class="table1" border="1" width="600" align="center" cellspacing="0" cellpadding="0">

       <tr><td height="25">Course id</td>
                <td height="25">Course name</td>
                <td height="25">Credits</td>
            </tr>

         {% for cno, cname , ccredit in course_data%}


            <tr><td height="25">{{ cno }}</td>
                <td height="25">{{ cname}}</td>
                <td height="25">{{ ccredit }}</td>
            </tr>
{#             <tr>{{ cname}}</tr>#}
{#             <br>#}

         {% endfor %}

        </table>
  </body>
</html>
