<!DOCTYPE html>
<html>

<head>

    <title>CS Classroom | Home</title>


    <script>

        window.onload=function () {
            login();
            document.getElementById("footer").className += " fixed-bottom";
        }


    </script>


    {% include "nav.html" %}


</head>

<body>
<div align="center">
    <div style="width: 80%">
        <br/>
        <br/>
        <a href="/calc/stat/boxplot/5bd38b54315511364c89a045/">Box Plot</a>

        <br/>
        <br/>

        <a href="/calc/stat/5bd379fa315511491cbcb4c3/">Standard Deviation Calculator</a>

        <br/>
        <br/>

        <a href="/calc/stat/freq/5bd379e7315511491cbcb4c2/">Frequency Calculator</a>

        <br/>
        <br/>

    </div>
</div>
</body>

</html>
