<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
<style>
    .output {
    font: 1rem 'Fira Sans', sans-serif;
}

legend {
    background-color: rgba(0, 0, 0, 0.92);
    color: #fff;
    padding: 3px 6px;
}
.control {
    margin: 1rem 0;
}
input[type=text], select {
    text-align: center;
}
label {
    display: inline-block;
    text-align: right;
    font-size: .8rem;
}

.hours {
    font-size: .7em;
    color: #999;
}
form {
  text-align: center;
}
</style>

<script type=text/javascript>
  $(function() {
    $('#button').bind('click', function() {
      $.getJSON('/add_class', {
        starttime: String(document.getElementById("appt-time").value),
        endtime: String(document.getElementById("endtime").value),
        details:String(document.getElementById("details").value)
      }, function(data) {
            $("#result").text(data.result);
      });
      return false;
    });
  });
</script>
<fieldset>
    <legend>assignment details</legend>
    <a href="{{ url_for('classroom_feed.show_news_feed') }}">back</a>
    <form>
    <label for="appt-time" style="background-color: dodgerblue">Details</label>
        <br>
    <input type="text" id="details" >
        <br>
        <label for="appt-time" style="background-color: dodgerblue">Start Time</label>
    <div class="control">
        <input type="time" id="appt-time"/>
    </div>
        <label for="appt-time" style="background-color: dodgerblue">End Time</label>
    <div>

         <input type="time" id="endtime"/>
    </div>
         <button id="button">submit</button>
        <br>
        <span id=result style="background-color: #0e90d2" ></span>
    </form>
</fieldset>
