<div class="col-md-3">
    <div class="card gedf-card">
        <div class="card-body">
            <h5 class="card-title">Due Assignments</h5>
            <h6 class="card-subtitle mb-2 text-muted">Project Progress-1</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            <a href="#" class="card-link">go to</a>
            <a href="#" class="card-link">Another Related link</a>
        </div>
    </div>
    <div class="card gedf-card">
            <div class="card-body">
                <h5 class="card-title">Popular Tutorials</h5>
                <h6 class="card-subtitle mb-2 text-muted">How to use flask along with django</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="card-link">go to article</a>
                <a href="#" class="card-link">Another related link</a>
            </div>
        </div>
</div>