
{% extends 'OnlineClassroom/post_and_comment/feed_layout.html' %}
{% block body %}
        <div class="row">
            {% include "OnlineClassroom/post_and_comment/me_and_others.html" %}

            <div class="col-md-6 gedf-main">
                <! -- create a post.-- >
                {% include "OnlineClassroom/post_and_comment/post_create_and_update.html" %}
                <!-- create post end /////-->

                <!--- \\\\\\\show posts-->
                {%  include "OnlineClassroom/post_and_comment/post_show_on_news_feed.html" %}
                <!-- show post end /////-->

            </div>
            {% include "OnlineClassroom/post_and_comment/assignments_and_tutorial.html" %}
        </div>
{% endblock %}




