<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
<style>
    .output {
    font: 1rem 'Fira Sans', sans-serif;
}

legend {
    background-color: rgba(0, 0, 0, 0.92);
    color: #fff;
    padding: 3px 6px;
}

.control {
    margin: 1rem 0;
}
input[type=text], select {
    text-align: center;
}
label {
    display: inline-block;
    text-align: right;
    font-size: .8rem;
}

.hours {
    font-size: .7em;
    color: #999;
}
form {
  text-align: center;
}
</style>

<script type=text/javascript>
  $(function() {
    $('#button').bind('click', function() {
      $.getJSON('/_add_numbers', {
        a: String(document.getElementById("appt-time").value),
        b: String(document.getElementById("start").value),
          c:String(document.getElementById("details").value)
      }, function(data) {

      });
      return false;
    });
  });
</script>
<fieldset>
    <legend>assignment details</legend>
    <form>
    <label for="appt-time" style="background-color: dodgerblue">Details</label>
        <br>
    <input type="text" id="details" >
        <br>
        <label for="appt-time" style="background-color: dodgerblue">Time</label>
    <div class="control">
        <input type="time" id="appt-time"/>
    </div>
        <label for="appt-time" style="background-color: dodgerblue">Date</label>
    <div>

        <input type="date" id="start" name="trip"
               value="2018-07-22"
               min="2018-01-01" max="2018-12-31" required/>
    </div>
         <button id="button">submit</button>
    </form>
    <p id="pid">
    </p>
</fieldset>
