<div class="col-md-3">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="ml-2">
                        <div class="h5 m-0"> About Course</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="h5">CSE-3217</div>
{#            <div class="h7 text-muted">Fullname : Kashob Roy</div>#}
            <div class="h7"> Software Design Pattern Lab </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="h6 text-muted">Instructors</div>
                <div class="h5">5</div>
            </li>
            <li class="list-group-item">
                <div class="h6 text-muted">Classmates</div>
                <div class="h5">69</div>
            </li>
        </ul>
    </div>
</div>