<div class="col-md-3">
    <div class="card">
        <div class="card-body">
            <div class="h5">@forkkr</div>
            <div class="h7 text-muted">Fullname : Kashob Roy</div>
            <div class="h7">Developer of web applications, JavaScript, PHP, Java, Python, Ruby, Java, Node.js,
                etc.
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="h6 text-muted">Instructors</div>
                <div class="h5">5</div>
            </li>
            <li class="list-group-item">
                <div class="h6 text-muted">Classmates</div>
                <div class="h5">69</div>
            </li>
        </ul>
    </div>
</div>