
<nav class="navbar navbar-expand-sm bg-dark navbar-dark" id="footer" >

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link">
                Contact us
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                Terms of use
            </a>
        </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link">
                About us
            </a>
        </li>
    </ul>
</nav>