<!DOCTYPE html>
<html>

<head>

    <title>Login</title>


    <script>

        window.onload=function () {
            display_error();
            login();
            document.getElementById("footer").className += " fixed-bottom";
        }

        var data = {{data|tojson}};
        console.log(data);

        function display_error() {
            if(data != null) {
                if (data['username_msg'] != null)
                    document.getElementById('username_msg').innerText = data['username_msg'];
                if (data['password_msg'] != null)
                    document.getElementById('password_msg').innerText = data['password_msg']
                 if(data['username']!=null)
                    document.getElementById('username').value = data['username'];
            }
        }

    </script>


    {% include "nav.html" %}


</head>

<body>
<div align="center">
    <div style="width: 80%">
        <br/>
        <h2>Log In</h2>
        <br/>

        <form action = "/auth/login-validation" method = "POST" style="width: 30%">
            <table>
                <tr>
                    <td width="20%">Username:</td>
                    <td width="46%">  <input type="text" class="form-control" id="username" name="username"></td>
                    <td width="33%">         <span id="username_msg" style="font-size: small;color: red"></span>
</td>
                </tr>
            </table>

            <table>
                <tr>
                    <td width="20%">Password: </td>
                    <td width="46%"><input type="password" class="form-control" id="password" name="password">
                    <td width="33%">
                <span id="password_msg" style="font-size: small;color: red"></span></td>
                </tr>
            </table>

<br/>
            <table><tr><td width="80%"><div class="form-group">
                <input type="submit" class="btn btn-dark btn-lg" value="Log In">
            </div></td><td></td></tr></table>
        </form>
        <a href="/auth/register">Register</a>
    </div>
</div>
</body>
<footer> {% include "footer.html" %}</footer>

</html>
