<!DOCTYPE html>
<html>

<head>

    <title>Rock Climbing Simulation</title>
    <script>
        var data = {{data|tojson}};
        var dp_array = data[0];
        var dimension_array = data[1];
        var col = data[3]
        var row = data[2]
        var currentRow = 1;
        var currentColumn = 1;
        console.log(data);

        var rowWidth = screen.width * 8 /10;
        rowWidth /= (string1.length + 2);

        window.onload = function() {
            drawTable(currentRow, currentColumn);
            login();
           loadSavedState();

            // document.getElementById("footer").className += " fixed-bottom";

        };


        window.onkeydown = function (event) {
            processKey(event);
        };

        function drawTable(row, column){
             var lTable = document.getElementById("dp_array");
            var lTableContent = "<tr>";
            lTableContent += "<td width='"+rowWidth+"' align='center'>" + '#' + "</td>";
            for(var k = 1; k < col; k++){
                lTableContent += "<td width='"+rowWidth+"' align='center'>" + k + "</td>";

            }
            lTableContent+="</tr>";
            for (var k= 1; k < row; k++){

                lTableContent += "<tr>";
                lTableContent += "<td width='"+rowWidth+"' align='center'>" + k + "</td>";
                for(var l = 1; l < col; l++){
                    if(k>row || (k==row && l>column))
                        lTableContent += "<td width='"+rowWidth+"' align='center'></td>";
                    else if(k==row-1&&l==column-1)
                        lTableContent += "<td width='"+rowWidth+"' align='center' style='color: #ff4c00'>" + dp_array[k][l] + "</td>";
                    else if(k==row-1&&l==column)
                        lTableContent += "<td width='"+rowWidth+"' align='center' style='color: #ff4c00'>" + dp_array[k][l] + "</td>";
                    else if(k==row-1&&l==column+1)
                        lTableContent += "<td width='"+rowWidth+"' align='center' style='color: #ff4c00'>" + dp_array[k][l] + "</td>";
                    else
                        lTableContent += "<td width='"+rowWidth+"' align='center'>" + dp_array[k][l] + "</td>";

                }
                lTableContent+="</tr>";
            }
            lTable.innerHTML=lTableContent;
        }

        function processKey(event) {

            var key = event.keyCode;
            if(key==39) {
                runForward();
            }
            else if(key==37) {
                runBackward();
            }
        }

        function runForward() {
            if(currentRow > (row-1))
                return;
            if (currentRow == (row - 1) && currentColumn == (col-1))
                return;
            currentColumn++;
            if(currentColumn == (col) && currentRow < row ){
                currentColumn = 1;
                currentRow++;
            }

            console.log(currentColumn);
            console.log(currentRow);
            drawTable(currentRow, currentColumn);
        }

        function runBackward() {
            if(currentRow==1&&currentColumn==1)
                return;
            currentColumn--;
            if(currentColumn==0){
                currentColumn= col-1;
                currentRow--;
            }
            drawTable(currentRow, currentColumn);
        }

        function save() {
            if(data_login['username']==null){
                window.location.href = "/auth/login";
                return;
            }
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById('save').innerText = "Remove";
                    document.getElementById('save').onclick = remove;
                    document.getElementById('save').className = "btn btn-danger";
                }
            };
            xhttp.open("POST", "/profile/save_simulation", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send("type=idp&algo=lcs&algo_id={{name}}&username="+data_login['username']);
        }


        function remove() {
            if(data_login['username']==null){
                window.location.href = "/auth/login";
                return;
            }
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById('save').innerText = "Save";
                    document.getElementById('save').onclick = save;
                    document.getElementById('save').className = "btn btn-success";
                }
            };
            xhttp.open("POST", "/profile/remove_simulation", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send("type=idp&algo=lcs&algo_id={{name}}&username="+data_login['username']);
        }

        function loadSavedState() {
            var saved = {{saved}}
            console.log(saved);
            if (saved == 1){
                document.getElementById('save').innerText = "Remove";
                document.getElementById('save').onclick = remove;
                document.getElementById('save').className = "btn btn-danger";
            }
        }

    </script>


    {% include "nav.html" %}


</head>

<body>
<div align="center">
    <div style="width: 80%">

        <h2 align="center">Rock Climbing Simulation</h2>

        <button type="button" class="btn btn-dark" onclick="runBackward()" style="width: 150px">Run Backward</button>
        <button type="button" class="btn btn-dark" onclick="runForward()" style="width: 150px">Run Forward</button>
        <button type="button" class="btn btn-success" id="save" onclick="save()" style="width: 150px">Save</button>

        <br/>
        <br/>


        <table class="table table-dark table-striped table-bordered" style="width: 80%;">
            <thead class="thead-dark">
            <th>
                MCM DP Array
            </th>
            </thead>
            <tbody id="dp_array" style="font-weight: bold;font-size: large">
            </tbody>
        </table>
        <br/>
        <br/>
        <div align="left" class="table-dark" style="width: 80%">

            <br/>
            <div style="margin-left: 30px;">
                <code style="color: white;font-weight: bold;">
                    Pseudocode:<br/><br/>
                    for L = 1 to matrix_row:<br/>
                        for I = 1 to matrix_col:<br/>
                                  dp[I][J] = min( dp[I-1][J-1] + cost[I][J] , dp[I-1][K]+cost[I][J] + dp[I-1][J+1}+cost[I][J]] )  <br/>
                            &emsp;&emsp;&emsp;&emsp;
                    &emsp;&emsp;<br/>
                </code>
            </div>

        </div>
        <br/>

        <a href="/idp/matrix-chain-multiplication/entry">
            <button type="button" class="btn btn-dark btn-lg">Create Simulation</button>
        </a>
        <br/>
        <br/>

    </div>
</div>
</body>
<footer> {% include "footer.html" %}</footer>

</html>
